<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <title>Survey Form</title>
</head>
<body>
    <form action="/result" method="post">
        <div>
            <p class="inputline">
                <label>Your Name:</label>
                <input type="text" name="name">
            </p>
            <p class="inputline">
                <label>Dojo Location:</label>
                <select name="location">
                    <option value="San Jose">San Jose</option>
                    <option value="Seattle">Seattle</option>
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="Dallas">Dallas</option>
                    <option value="Washington D.C">Washington D.C.</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Tulsa">Tulsa</option>
                </select>
            </p>
            <p class="inputline">
                <label>Favorite Language:</label>
                <select name="language">
                    <option value="C#">C#</option>
                    <option value="Ruby">Ruby</option>
                    <option value="Python">Python</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Java">Java</option>
                    <option valie="Swift">Swift</option>
                </select>
            </p>
        </div>
        <p><label>Comment (optional, less than 120 characters):</label></p>
        <textarea name="comment"></textarea>
        <input class="submit" type="submit" value="Submit">
    </form>
</body>
</html>